* {
    box-sizing: border-box;
}
body {
    background-color: #eeeeee;
    font-family: "Roboto", sans-serif;
}
#top-bar {
    position: fixed;
    height: 92px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #cf2b2b;
    font-size: 44px;
    color: #ffffff;
}
h1 {
    font-family: "Righteous", cursive;
    font-size: 44px;
}
#top-bar p {
    font-size: 18px;
}
#content {
    margin-top: 123px;
}
.category p {
    font-family: "Righteous", cursive;
    font-size: 26px;
    color: #333333;
}
#bottom-bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}
#bottom-bar button {
    background-color: #cbcbcb;
    font-size: 20px;
    font-family: inherit;
    border-radius: 50px;
    height: 61px;
    color: #ffffff;
    border: none;
    width: 364px;
}
