* {
    box-sizing: border-box;
}
body {
    background-color: #eeeeee;
    font-family: "Roboto", sans-serif;
}
#top-bar {
    padding-top: 10px;
    padding-left: 21px;
    position: fixed;
    height: 92px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #cf2b2b;
    font-size: 44px;
    color: #ffffff;
}
h1 {
    font-family: "Righteous", cursive;
    font-size: 44px;
}
#top-bar p {
    font-size: 18px;
    margin-top: 2px;
}
#content {
    margin-top: 123px;
    margin-bottom: 92px;
}
.category {
    width: 100%;
}
.category h2 {
    font-family: "Righteous", cursive;
    font-size: 26px;
    color: #333333;
    padding-left: 19px;
}
.category ul {
    padding: 17px 0px 27px 0px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.category ul > :first-child {
    margin-left: 19px;
}
.category ul .spacer {
    width: 11px;
    flex-shrink: 0;
}
.option {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px 14px 28px 14px;
    width: 172px;
    background: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 16px;
    margin-right: 8px;
    margin-left: 8px;
}
.option div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option .img-box {
    border-radius: 4px;
    margin-bottom: 8px;
    width: 144px;
    height: 87px;
    border-radius: 4px;
    overflow: hidden;
}
.option img {
    width: 144px;
}
.option strong {
    color: #333333;
}
.option .description {
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300;
    margin: 9px 0px;
    line-height: 18px;
}
.option .price-quantity {
    position: absolute;
    bottom: 13px;
    width: 144px;
}
.option div .counter {
    width: 47px;
}
.option div .counter .remove {
    color: #cf2b2b;
}
.option div .counter .add {
    color: #32b72f;
}
#bottom-bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}
#bottom-bar button {
    background-color: #cbcbcb;
    font-size: 20px;
    font-family: inherit;
    border-radius: 50px;
    height: 61px;
    color: #ffffff;
    border: none;
    width: 364px;
}
